# Visual Studio files
.vs/
*.suo
*.user
*.ncb
*.sdf
*.vcxproj.user
*.opendb
*.VC.db
*.vscode/

# Build files
bin/
obj/
Debug/
Release/

# NuGet packages
*.nupkg
packages/
project.lock.json

# Logs and temporary files
*.log
*.tlog
*.cache
